{% extends "@templates/layout.html" %}

{% block body %}
<p>test ==========</p>
<ul>
    <li>Book 1</li>
    <ul>
        <li><a href="book1/ch-1.html">Chapter 1</a></li>
        <ul>
            <li><a href="book1/ch-1.1.html">Chapter 1.1</a></li>
            <li><a href="book1/ch-1.2.html">Chapter 1.2</a></li>
        </ul>
        <li><a href="book1/ch-2.html">Chapter 2</a></li>
    </ul>
    <li>Book 2</li>
    <ul>
        <li><a href="book2/article.html">Article</a></li>
    </ul>
</ul>
<p>title: {{ title }}</p>
{% endblock %}\