{% use "menu.html" %}
{% use "sidebar.html" %}
{% use "footer.html" %}

{% set context = init_template() %}

<!doctype html>
<html lang="ru">

<head>
  {% include "./headings.html" %}
</head>

<body class="fixed-sn light-blue-skin">
  <header class="sticky-top" id="header">
    {% block menu %}{{ parent() }}{% endblock %}
  </header>
  <div class="">
    <div class="row wrapper">
      {% block sidebar %}{{ parent() }}{% endblock %}
      <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="flex-wrap border-bottom">
          {% block body %}{% endblock %}
        </div>
      </main>
    </div>
  </div>

  <!--Footer-->
  <footer class="page-footer text-center text-md-left pt-4 bg-dark">
    <div class="row">
      {% block footer %}{{ parent() }}{% endblock %}
    </div>
  </footer>
  <!--/.Footer-->

</body>
</html>