{% use "menu.html" %}
{% use "sidebar.html" %}
{% use "footer.html" %}

{% set context = init_template() %}

<!doctype html>
<html lang="ru">

<head>
  {% include "./headings.html" %}
</head>

<body>
  <div class="container">

    {% block menu %}{{ parent() }}{% endblock %}

    <div class="container-fluid">

      <div class="row wrapper">

        <div class="col-3 shadow">
          {% block sidebar %}{{ parent() }}{% endblock %}
        </div>

        <div class="col" id="main">

          <div class="content-header row">
            qwe
          </div>

          <div class="content-content-right row">
            {% block body %}{% endblock %}
          </div>

          <div class="content-footer row">
            qwe
          </div>

        </div>

      </div>


      <footer class="footer">
        {% block footer %}{{ parent() }}{% endblock %}
      </footer>

    </div>
  </div>
</body>

</html>