{% use "menu.html" %}
{% use "footer.html" %}

{% set context = init_template() %}

<!doctype html>
<html lang="ru">

<head>
  {% include "./headings.html" %}
</head>

<body class="fixed-sn light-blue-skin">
  <header class="sticky-top">
    {% block menu %}{{ parent() }}{% endblock %}
  </header>
  <main class="container-fluid col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="flex-wrap border-bottom">
      {% block body %}{% endblock %}
    </div>
  </main>

  <!--Footer-->
  <footer class="page-footer text-center text-md-left pt-4 bg-dark">
    <div>
      {% block footer %}{{ parent() }}{% endblock %}
    </div
  </footer>
  <!--/.Footer-->

</body>

</html>