{% use "menu.html" %}
{% use "footer.html" %}

{% set context = init_template() %}

<!doctype html>
<html lang="ru">

<head>
  {% include "./headings.html" %}
</head>

<body>
  <div class="container">

    {% block menu %}{{ parent() }}{% endblock %}

    <div class="container-fluid">
      <div class="content-content-right row">
        {% block body %}{% endblock %}
      </div>
    </div>

    <footer>
      {% block footer %}{{ parent() }}{% endblock %}
    </footer>
  </div>
</body>

</html>