{% block menu %}
<nav class="navbar sticky-top shadow">
    <a class="navbar-brand" href="/">Company name</a>
    <ul class="nav">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#"><i class="fas fa-envelope"></i> <span
                    class="clearfix d-none d-sm-inline-block">Contact</span></a>
        </li>
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#"><i class="far fa-comments"></i> <span
                    class="clearfix d-none d-sm-inline-block">Support</span></a>
        </li>
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#"><i class="fas fa-user"></i> <span
                    class="clearfix d-none d-sm-inline-block">Account</span></a>
        </li>
        <li class="nav-item dropdown text-nowrap">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Книги</a>
            <div class="dropdown-menu dropdown-menu-right">
                {% for book in context.librarySettings.content.books %}
                <a href="/{{ book.location }}/" class="dropdown-item">{{ book.title }}</a>
                {% endfor %}
            </div>
        </li>
    </ul>
</nav>
{% endblock %}